<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">

        <title>WolfPubDB</title>
        <link rel="icon" href="images/logo.png">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50" class="w3-theme-l4">
        <div id = "Welcome">
<!--            start of header-->
            <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="images/brick2x2-1.jpg" width="100" height="50" class="d-inline-block" alt=""> WolfPubDB
                </a>
            </nav>
<!--            end of header-->
<!--            start of options-->
            <div class="container">
                <div class="row" id="Options">
                    <div class="col navMenu">
                        <h2 class="text-center" >~ What you gonna do today ~</h2>
                    </div>
                </div>

                <div class="row bg-light" >
                    <div class="col-md-6">
                        <div><a href="/Admin/EditingAndPublishing">Editing And Publishing</a></div>
                        <p>Editing and publication info over here.</p>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img class="img-fluid" src="images/jkrowling.jpg">
                    </div>
                </div>

                <div class="row bg-light"><br></div>

                <div class="row bg-light">
                    <div class="col-md-6 order-md-1 order-2" data-aos="fade-right">
                        <img class="img-fluid " src="images/rihanna.jpg">
                    </div>
                    <div class="col-md-6 order-md-12 order-1">
                        <div><a href="/Admin/BookOrIssue">Book Or Issue</a></div>
                        <p>Book Or Issue info over here.</p>
                    </div>
                </div>

                <div class="row bg-light"><br></div>

                <div class="row bg-light" >
                    <div class="col-md-6">
                        <div><a href="/Admin/Reports">Reports</a></div>
                        <p>Reports info over here.</p>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img class="img-fluid" src="images/presentation.jpg">
                    </div>
                </div>
<!--                end of options-->

        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        <script type="text/javascript" src="js/image-effect.js"></script>

    </body>
</html>