<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WolfPubDB</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
</head>
<body class="w3-theme-l4">
<div >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/brick2x2-1.jpg" width="100" height="50" class="d-inline-block" alt=""> WolfPubDB
        </a>
    </nav>
<center>
    <h1>Books</h1>
    <div style="text-align: center;padding-left: 10%; padding-right: 10%">
        <table class="w3-table-all w3-hoverable" >
            <tr>
                <th>ISBN</th>
                <th>Publication</th>
                <th>Edition</th>
                <th>Date of creation</th>
                <th>Date of publication</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publication.title}"</td>
                <td th:text="${book.editionNo}"></td>
                <td th:text="${book.dateOfCreation.getTime()}"></td>
                <td th:text="${book.dateOfPublication.getTime()}"></td>
                <td>
                    <a th:href="@{/Admin/EditingAndPublishing/Publication/{id}(id=${book.publication.id})}">Click for publication details</a>
                </td>
                <td>
                    <a th:href="@{/Admin/BookOrIssue/UpdateBook/{id}(id=${book.id})}">Edit</a>
                </td>
            </tr>
        </table>
    </div>

    <hr/>
    <div><a href="/Admin/BookOrIssue/NewBook/">Want to add a new book?</a> </div>
</center>
</div>
</body>
</html>