<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">

    <title>WolfPubDB</title>
    <link rel="icon" href="images/logo.png">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" class="w3-theme-l4">
<div id = "Welcome">
    <!--            start of header-->
    <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/brick2x2-1.jpg" width="100" height="50" class="d-inline-block" alt=""> WolfPubDB
        </a>
    </nav>
    <!--            end of header-->
    <!--            start of options-->
    <div style="padding-top: 100px; padding-left: 10%; padding-right: 10%;">


            <table style = "width: 80%; align-items: center">
                <tr>
                    <td>
                        <div style="text-align: center; height: 250px; width: 250px">
                            <a href="/Admin/BookOrIssue/Books">
                                Books
                                <br/>
                                <img src="/images/books.jpg" style=""/>
                            </a>
                        </div>
                        
                    </td>
                    <td>
                        <div style="text-align: center; height: 250px; width: 250px">
                            <a href="/Admin/BookOrIssue/Issues">
                                Issues
                                <br/>
                                <img src="/images/issues.jpg" />
                            </a>
                        </div>
                    </td>
                </tr>
            </table>




            <div class="row bg-light"><br></div>
            <!--                end of options-->


    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="js/smooth-scroll.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script type="text/javascript" src="js/image-effect.js"></script>

</body>
</html>