<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WolfPubDB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <center>
        <h1>Publication</h1>
        Name: <b th:text="${publication.title}" /><br/>
        Typical topics: <span th:text="${publication.typicalTopics}" /><br/>
        Type: <span th:text="${publication.type}" /><br/>
        Periodicity: <span th:text="${publication.periodicity}" /><br/>
        Editors<br/>
        <span th:each="editor,iterStat : ${publication.contributors}">
            <form method="post" th:action="@{/Admin/EditingAndPublishing/Publication/DeletingEditorsFromPublication/}">
                <span th:text="${editor.name}"/>
                <input type="hidden" name="publicationId" th:value="${publication.id}"/>
                <input type="hidden" name="editorId" th:value="${editor.id}"/>
                <button type="submit">Delete</button>
            </form>
        </span>
        Want to add an editor over here? Select one from below:<br/>
        <form method="post" th:action="@{/Admin/EditingAndPublishing/Publication/AddingEditorsForPublication/}">
            <select name = "editorId">
                <span th:each="editor, iterstat: ${restOfTheEditors}">
                    <option th:value="${editor.id}"><span th:text="${editor.name}"/></option>
                </span>
                <input type="hidden" name="publicationId" th:value="${publication.id}"/>
            </select>
            <button type="submit">Add</button>
        </form>

    </center>
</body>
</html>